
.container {
    width: 600px;
}

.car-input{
    margin-top: 15px;
}

.car-input form{
    display: flex;
    align-items: start;
    gap: 15px;
    height: 106px;
}

.car-input .submit-btn{
    margin-bottom: var(--bulma-block-spacing);
    margin-top: 32px;
}

.car-input .field:not(:last-child){
    width: 100%;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table table {
    width: 100%;
}

.table .delete-btn {
    max-width: 35px;
}

.dashboard{
    margin-top: 10px;
}
.dashboard header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dashboard h2 {
    font-size: x-large;
}

.dashboard footer {
    font-size: larger;
    text-align: right;
    margin-right: 10px ;
}